:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(203, 227, 241);
    --bgcolormenu: rgb(139, 188, 235);
    --hovercolor: rgb(55, 10, 233);
    --widthCollapsed: 70px;
}

body {
    width: 100vw;
    /*cambio para q ocupe toda la pantalla*/
    height: 100vh;
    background-color: var(--bgcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}


/*Contenedor principal de la pagina, yo puse todo dentro de un div. Pude haber usado el body*/
.mainGrid {
    /* max-width: 1024px;*/
    margin: 0 auto;
    display: grid;
   /* grid-gap: 5px;*/
    grid-template-columns: 10% 90%;
    grid-template-rows: 5% 90% 5%;
    /*repeat(3, auto)*/

    /*Aca defino las areas del grid, piensen como si todo el contenido de mi pagina estuviera en en rectangulo de 4 filas y 3 columnas (en este caso. Ustedes podrian definir la cantidad de filas y columnas que deseen*/
    grid-template-areas:
        "sideMenuG   headerG"
        "sideMenuG   mainG   "
        "sideMenuG   footerG";
}


/*Aca le doy un border radius a los bordes de las cajas, solo para que se vea lindo, */@at-root
.mainGrid body,
.mainGrid .header,
.mainGrid #sideMenu,
.mainGrid .map,
.mainGrid .piePagina {
    border-radius: 5px;
}


/*ORAGANIZO UBICACION EN LA GRILLA*/

.mainGrid .header {
    grid-area: headerG;
    text-align: right;
    /*nuevo*/
    /* background-color:var(--bgcolormenu);*/
}

.mainGrid .mainArea {
    grid-area: mainG;
    /*  background-color: yellow;*/
}


.mainGrid #sideMenu {
    grid-area: sideMenuG;
    background-color: var(--bgcolormenu);
    text-align: center;
    display: flex;
    align-items: stretch;
    /*center;*/
    justify-content: center;


}

.mainGrid .piePagina {
    background-color: cornflowerblue;
    grid-area: footerG;
    font-size: 1.5vw;
    /*todo lo que sigue lo hago para centrar el texto en el contenedor*/
    text-align: center;
    display: flex;
   /* align-items: center;*/
    justify-content: space-evenly;
}

/*FIN GRILLA PRINCIPAL*/
