/* inserto imports*/
@import "structGrid";
@import "sideMenu";
@import "footer";
@import"slider";


/*Esto lo hago para normalizar los margenes en los navegadores, ya que algunos le ponen por defecto un pequeño margen*/
* {
    margin: 0;
    padding: 0;
}

/* SECCION MAPA*/
/*agrego mixin*/

@mixin frameSize ($width, $height) {
    width: $width;
    height: $height;
}

.mapa {
    @include frameSize(100%, 100%);
    // width: 100%;
    // height: 100%;
}

/*SECCION DE HEADER*/

.header {
    display: flex;
    align-items: center;
    justify-content: right;

    .navItem {
        margin: 5px;
    }

}

/*FIN HEADER*/

// main dash 

.graf_linea {
    background-color: ghostwhite;
    box-sizing: border-box;
    border-bottom: solid 2px gray;
    border-radius: 5%;
}

