//SETEO FOOTER
.piePagina {
    .socialIcon {
          color: whitesmoke;
          text-decoration: none;
          .fa {
              color: #262626;
              transition: 0.5s;
              z-index: 3;
          }
          &:before {
              content: "";
              /*   position: absolute;*/
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              background: #eee;
              transition: 0.5s;
          }
          &:hover {
              &:before {
                  top: 0;
              }
              
              .fa-facebook {
                  transform: rotateY(360deg);
                  color: #3b5998;
              }
  
              .fa-instagram {
                  transform: rotateY(360deg);
                  color: #e1306c;
              }
  
              .fa-chrome {
                  transform: rotateY(360deg);
                  color: #C7C4B9;
              }
  
              .fa-whatsapp {
                  transform: rotateY(360deg);
                  color: #128c7e;
              }
  
              .fa-envelope {
                  transform: rotateY(360deg);
                  color: blue;
              }
          }
      }
  }