/* inserto imports*/
@import "structGrid";
@import "sideMenu";


/*Esto lo hago para normalizar los margenes en los navegadores, ya que algunos le ponen por defecto un pequeño margen*/
* {
    margin: 0;
    padding: 0;
}

/* SECCION MAPA*/

.mapa {
    width: 100%;
    height: 100%;
}


/*SECCION DE HEADER*/

.header {
    display: flex;
    align-items: center;
    justify-content: right;

    .navItem {
        margin: 5px;
    }

}

/*FIN HEADER*/

/*SETEO FOOTER*/
.socialIcon {
    color: whitesmoke;
    text-decoration: none;
    
}

.socialIcon .fa {
    /*   position: relative;*/
    color: #262626;
    transition: 0.5s;
    z-index: 3;
}

.socialIcon:before {
    content: "";
    /*   position: absolute;*/
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    transition: 0.5s;
}

.socialIcon:hover:before {
    top: 0;
}

.socialIcon:hover .fa-facebook {
    transform: rotateY(360deg);
    color: #3b5998;
}

.socialIcon:hover .fa-instagram {
    transform: rotateY(360deg);
    color: #e1306c;
}

.socialIcon:hover .fa-chrome {
    transform: rotateY(360deg);
    color: #C7C4B9;
}

.socialIcon:hover .fa-whatsapp {
    transform: rotateY(360deg);
    color: #128c7e;
}

.socialIcon:hover .fa-envelope {
    transform: rotateY(360deg);
    color: blue;
}





