/* inserto imports*/
@import "structGrid";
@import "sideMenu";
@import "footer";


/*Esto lo hago para normalizar los margenes en los navegadores, ya que algunos le ponen por defecto un pequeño margen*/
* {
    margin: 0;
    padding: 0;
}

/* SECCION MAPA*/

.mapa {
    width: 100%;
    height: 100%;
}


/*SECCION DE HEADER*/

.header {
    display: flex;
    align-items: center;
    justify-content: right;

    .navItem {
        margin: 5px;
    }

}

/*FIN HEADER*/




 




