:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor:rgb(203, 227, 241);
    --bgcolormenu: rgb(139, 188, 235);
    --hovercolor: rgb(55, 10, 233);
    --widthCollapsed: 70px;
   
}

header a{
    
color:var(--hovercolor);
}

nav{
    /*margin-left: 600px ;*/
    text-align: right; 
  
}  

li{
    /*padding: 10px 10px 10px 10px;*/
    /* margin-top: 10px;
    margin-left: 20px;
    display: inline-block; */
    display:inline-flex;
    flex-direction: row;
    justify-content:flex-end;


   }

body{
    background-color: var(--bgcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 230px;
}

/* .bodyExpanded{
    margin-left: var(--width);
} */

#mainContainer{
    color: white;
}

#sideMenu{
    background-color: var(--bgcolormenu);
    color: white;
    position:absolute;/*fix*/
    height:inherit;
    left: 0;
    top:0;
}

#sideMenu a{
    color: white;
    text-align: center;
    text-decoration:solid ;
}

#sideMenu #menuHeader{
    box-sizing: border-box;
    border-bottom: solid 2px rgb(3, 7, 59);
}

#sideMenu #menuHeader #title{
    box-sizing: border-box;
    overflow: hidden;
}

#sideMenu #menuHeader #title, #sideMenu #menuHeader #menuBtn{
    vertical-align: middle;
}

#sideMenu #menuHeader #menuBtn{
    display:inline-block;
}

#sideMenu #menuHeader #menuBtn{
  cursor: pointer;
  padding: 10px;
  width: var(--widthCollapsed);
  box-sizing: border-box;
}
#sideMenu #menuHeader #menuBtn:hover{
    background-color: var(--hovercolor);
}

#sideMenu #menuHeader #menuBtn .btn{
    background-color: white;
    width: 100%;
    height: 2px;
    margin: 5px;

}

#sideMenu #menuItems .item{
    box-sizing: border-box;
    border-bottom: solid 2px rgb(3, 7, 59);
}

#sideMenu #menuItems .item .icon{
    box-sizing: border-box;
 /*   padding: var(--padding);*/
    width: var(--widthCollapsed);
    /*margin: 0 auto;*/
}

#sideMenu #menuItems .item .icon img{
    border-radius: 50%;
    width:70%;
}

#sideMenu #menuItems .item .title,#sideMenu #menuItems .item .icon{
    font-size: 20px;
    overflow: hidden;
   }
   #sideMenu #menuItems .item a{
       display: block;
   }

   #sideMenu #menuItems .item a:hover{
       background-color: var(--hovercolor);
}

#table,#formulario{
    display:flexbox;
    flex-direction: column;
    margin-left: 10px;
}

.piePagina{
    position: fixed; 
    top: 650px; 
    margin-bottom: 0;
    padding-top: 10px;
    /* width: 600px; */
    height: 33px;
    display:inline-flex;
    background-color: cornflowerblue;
    font-size: 25px;
}

   
/* .pieFooter{
    display:inline-flex;
    font-size: 15px;
    text-align: left; 
   
}*/

    
.socialIcon{
color: blue;
text-decoration: none;
margin: 0 10px;
}

.socialIcon:hover{
    background-color: whitesmoke;
}

/* esto no se como hacerlo responsive */

.map {
    position: relative;   
    padding-bottom: 45%;  
     height: 0; 
    overflow: hidden;
}
.map iframe {
    position: absolute; 
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}