/*Esto lo hago para normalizar los margenes en los navegadores, ya que algunos le ponen por defecto un pequeño margen*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(203, 227, 241);
    --bgcolormenu: rgb(139, 188, 235);
    --hovercolor: rgb(55, 10, 233);
    --widthCollapsed: 70px;
}

body {
    width: auto;
    height: auto;
    background-color: var(--bgcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:2vw;
}


/*Contenedor principal de la pagina, yo puse todo dentro de un div. Pude haber usado el body*/
.mainGrid {
    /* max-width: 1024px;*/
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 10% 90%;
    grid-template-rows: 5% 90% 5%;
    /*repeat(3, auto)*/

    /*Aca defino las areas del grid, piensen como si todo el contenido de mi pagina estuviera en en rectangulo de 4 filas y 3 columnas (en este caso. Ustedes podrian definir la cantidad de filas y columnas que deseen*/
    grid-template-areas:
        "sideMenuG   headerG"
        "sideMenuG   mainG   "
        "sideMenuG   footerG";
}


/*Aca le doy un border radius a los bordes de las cajas, solo para que se vea lindo, normalmente ustedes no le van a dar color a cada una, lo hago solo para que se vea*/
.mainGrid body,
.mainGrid .header,
.mainGrid #sideMenu,
.mainGrid .map,
.mainGrid .piePagina {
    border-radius: 5px;
}


/*ORAGANIZO UBICACION EN LA GRILLA*/

.mainGrid .header {
    grid-area: headerG;
    text-align: right;
    /*nuevo*/
    /* background-color:var(--bgcolormenu);*/
}

.mainGrid .mainArea {
    grid-area: mainG;
    /*  background-color: yellow;*/
}

.mapa {
    width: 100%;
    height: 100%;
}

.mainGrid #sideMenu {
    grid-area: sideMenuG;
    background-color: var(--bgcolormenu);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainGrid .piePagina {
    background-color:cornflowerblue;;
    grid-area: footerG;
    font-size: 1.5vw;
    /*todo lo que sigue lo hago para centrar el texto en el contenedor*/
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}

/*FIN GRILLA PRINCIPAL*/

/*SETEO DE HEADER*/
header a {
    color: var(--hovercolor);
}

nav {
    text-align: right;

}


li {
    padding: 2px;
    margin-right: 10px;
    display: inline-flex;
    flex-direction: row;
    
    
}

/*FIN HEADER*/


/*SIDE MENU SETEO*/
#sideMenu a {
    color: white;
    text-align: center;
    text-decoration: solid;
}

#sideMenu #menuItems .item {
    padding-top: 3px;
    box-sizing: border-box;
    border-bottom: solid 1px rgb(3, 7, 59);
}

#sideMenu #menuItems .item .icon img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

#sideMenu #menuItems .item .title,
#sideMenu #menuItems .item .icon {
    font-size: 1.5vw;
    overflow: hidden;
}

#sideMenu #menuItems .item a {
    display: block;
}

#sideMenu #menuItems .item a:hover {
    background-color: var(--hovercolor);
}

/*FIN SIDE MENU*/

/*SETEO FOOTER*/



.socialIcon{
    color:whitesmoke;
    text-decoration: none;     
    }
 /*   
    .socialIcon:hover{
        background-color:blue;
    }
*/
    .socialIcon .fa{
     /*   position: relative;*/
        color: #262626;
        transition: 0.5s;
        z-index: 3;
      }     

      .socialIcon:before{
        content: "";
     /*   position: absolute;*/
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eee;
        transition: 0.5s;
      }
      .socialIcon:hover:before{
        top: 0;
      }
      .socialIcon:hover .fa-facebook{
        transform: rotateY(360deg);
        color: #3b5998;
      }      
      .socialIcon:hover .fa-instagram{
        transform: rotateY(360deg);
        color: #e1306c;
      }
      .socialIcon:hover .fa-chrome{
        transform: rotateY(360deg);
        color: #C7C4B9;
      }
      .socialIcon:hover .fa-whatsapp{
        transform: rotateY(360deg);
        color: #128c7e;
      }
      .socialIcon:hover .fa-envelope{
        transform: rotateY(360deg);
        color: blue;
      }
      